<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Great+Vibes&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>Pizza</title>
</head>
<body class="bg-danger-subtle">

    <div th:replace="fragments/header :: headerSito"></div>
    
    <div th:if="${pizza != null}" class="container mt-4 d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 th:text="${pizza.nome}"></h1>
            <img th:src="${pizza.foto}" alt="Immagine pizza" width="400" class="my-3">
            <p>Prezzo: <span th:text="${pizza.prezzo} + ' €'"></span></p>
        </div>
    </div>

    <div class="container text-center">
        <div>
            <a th:href="@{/pizze/{id}/offerte(id=${pizza.id})}"><button class="btn btn-success mb-2">Crea offerta</button></a>
        </div>
        <div th:if="${pizza.offerte.size() > 0}">
            <h3>Offerte</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Inizio offerta</th>
                        <th>Fine offerta</th>
                        <th>Sconto %</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="promo : ${pizza.offerte}">
                        <td th:text="${promo.inizioOfferta}"></td>
                        <td th:text="${promo.fineOfferta}"></td>
                        <td th:text="${promo.percentualeSconto}"></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div th:unless="${pizza.offerte.size() > 0}">
            <p>Non ci sono offerte presenti</p>
        </div>


    </div>
    
    <div th:if="${pizza == null}" class="container mt-3">
        <h2>Pizza non trovata</h2>
        <p>La pizza che stai cercando non esiste o è stata rimossa.</p>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>