a {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-button {
    font-family: "Satisfy", cursive;
}

.font-placeholder {
    font-family: "Satisfy", cursive;
}

