body {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.font-button:hover .btn-text {
    display: none;
}

.font-button:hover i {
    display: inline !important; 
}
