
<header th:fragment="headerSito">
    <nav class="navbar bg-danger">
        <div class="container-fluid">
          <a class="navbar-brand text-light" th:href="@{/pizze}">Cristian's pizza</a>
          <form class="d-flex" role="search" th:action="@{/pizze}" method="get">
            <input name="keyword" th:value="${keyword}" class="form-control me-2 font-placeholder" type="search" placeholder="Cerca la tua pizza..." aria-label="Search">
            <button class="btn btn-outline-light font-button text-light" type="submit">Cerca</button>
          </form>
        </div>
      </nav> 
</header>