
<header th:fragment="headerSito">
    <nav class="navbar bg-danger-subtle">
        <div class="container-fluid">
          <a class="navbar-brand text-danger">Cristian pizza's</a>
          <form class="d-flex" role="search">
            <input class="form-control me-2 font-placeholder" type="search" placeholder="Cerca la tua pizza..." aria-label="Search">
            <button class="btn btn-outline-danger font-button" type="submit">Cerca</button>
          </form>
        </div>
      </nav> 
</header>